<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eCommerce Store</title>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- Header Section: NavBar -->
    <header>
      <div id="menu-bar" class="fa-solid fa-bars"></div>

      <a href="#" class="logo">Nike Store</a>
      <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#products">Products</a>
        <a href="#featured">Featured</a>
        <a href="#review">Review</a>
      </nav>
      <div class="icons">
        <!-- give icon class -->
        <a href="" class="fa-solid fa-heart"></a>
        <a href="" class="fa-solid fa-cart-arrow-down"></a>
        <a href="" class="fa-solid fa-user"></a>
      </div>
    </header>

    <%- body %>


    <!-- Footer Section -->
    <section class="footer">
      <div class="box-container">
        <div class="box">
          <h3>Our Stores</h3>
          <a href="">Pakistan</a>
          <a href="">UAE</a>
          <a href="">Bangladesh</a>
          <a href="">Malaysia</a>
        </div>
        <div class="box">
          <h3>About Us</h3>
          <a href="">Pakistan</a>
          <a href="">UAE</a>
          <a href="">Bangladesh</a>
          <a href="">Malaysia</a>
        </div>
        <div class="box">
          <h3>Socials</h3>
          <a href="">Pakistan</a>
          <a href="">UAE</a>
          <a href="">Bangladesh</a>
          <a href="">Malaysia</a>
        </div>
        <div class="box">
          <h3>Company Information</h3>
          <a href="">Pakistan</a>
          <a href="">UAE</a>
          <a href="">Bangladesh</a>
          <a href="">Malaysia</a>
        </div>
      </div>
    </section>

    <script src="script/script.js"></script>
  </body>
</html>

