
:root{
    color: blue;
}

.navbar-nav{
    width: 800px;
    display: flex;
    flex-direction: row;
    min-width: 0;
    color: blue;
}
.nav-item{
    margin-right: 70px;
    width: 200px;
    margin-top: 20px;
    
    
}

