<div class="min-vh-100 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 mx-auto">
          <div class="shadow-lg">
            <div class="d-flex align-items-center">
              <div class="d-none d-md-block d-lg-block">
                <img src="assets/sho.jpg" class="objectFit"  />
              </div>
              <div class="p-4" id="formPanel">
                <div class="text-center mb-5">
                  <h1 class="customHeading h3 text-uppercase">Signup</h1>
                </div>
                <form method="post" action="">
                  <div class="custom-form-group">
                    <label class="text-uppercase" for="name">Name</label>
                    <input type="text" id="name" name="name" class="pb-1" value="Usman Akram"/><span class="pb-1"><i class="fas fa-user"></i></span>
                  </div>
                  <div class="custom-form-group mt-3">
                    <label class="text-uppercase" for="email">Email</label>
                    <input type="text" id="email" name="email" class="pb-1" value="usman.akram@gmail.com"/>
                  </div>
                  <div class="custom-form-group mt-3">
                    <label class="text-uppercase" for="password">Password</label>
                    <input type="password" id="password" name="password" class="pb-1" value="usman"/><span class="pb-1"><i id="showCursor" class="fas fa-eye-slash" onclick="showPassword(event)"></i></span>
                  </div>
                  <div class="mt-5">
                    <button class="w-100 p-2 d-block custom-btn" type="submit">Register</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  